<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Allot URL Management Console</h1>
        <p class="lead" jhiTranslate="home.subtitle">Whitelist and Blacklist URL Management</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                <span jhiTranslate="global.messages.info.authenticated.suffix">Please contact <a href="mailto:support@istt.com.vn">support@istt.com.vn</a> for more info.</span>
            </div>
        </div>

        <div *ngIf="isAuthenticated()" class="card"><div class="card-body">
          <h3>Usage</h3>
          <ol>
            <li>Top Menu / Entities / Blacklist: Manage available blacklist URL. </li>
            <li>Top Menu / Entities / Whitelist: Manage available whitelist URL.</li>
            <li>Click on `Save` button to write files to system.</li>
            <li>Open NetXplorer and Distribute the files.</li>
          </ol>
        </div></div>

    </div>
</div>
