<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.blacklist.home.title">Blacklists</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="url"><span jhiTranslate="appApp.blacklist.url">Url</span> <span class="fas fa-sort"></span></th>
            <th class="text-right"><div class="btn-group flex-btn-group-container">
              <button class="btn btn-warning btn-sm" (click)="reloadData()">
                <span class="fa fa-recycle"></span>
                <span jhiTranslate="entity.action.reload">
                Reload
                </span>
              </button>
              <button id="jh-create-entity" class="btn btn-primary btn-sm jh-create-entity create-blacklist" [routerLink]="['/blacklist/new']">
                  <span class="fas fa-plus"></span>
                  <span  jhiTranslate="appApp.blacklist.home.createLabel">
                  Create new Blacklist
                  </span>
              </button>
              <button class="btn btn-danger btn-sm" [routerLink]="['/', { outlets: { popup: ['blacklist-import'] } }]">
                <span class="fa fa-upload"></span>
                <span  jhiTranslate="entity.action.import">
                Import
                </span>
              </button>
              <button class="btn btn-info btn-sm" (click)="exportData()">
                <span class="fa fa-download"></span>
                <span  jhiTranslate="entity.action.export">
                Export
                </span>
              </button>
              <button class="btn btn-success btn-sm" (click)="saveData()">
                <span class="fa fa-save"></span>
                <span jhiTranslate="entity.action.save">
                Export
                </span>
              </button>
            </div></th>
            </tr>
            </thead>
            <thead><tr>
              <th><input class="form-control" type="text" id="field_id" name="id" [(ngModel)]="searchModel.id" /></th>
              <th><input class="form-control" type="text" id="field_url" name="url" [(ngModel)]="searchModel.url" /></th>
              <th class="text-right"><div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-sm btn-info" (click)="search()">
                  <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search"> Search</span>
                </button>
                <button type="button" class="btn btn-sm btn-default" (click)="searchReset()">
                  <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.reset"> Reset</span>
                </button>
              </div></th>
            </tr></thead>
            <tbody *ngIf="blacklists">
            <tr *ngFor="let blacklist of blacklists ;trackBy: trackId">
                <td><a [routerLink]="['/blacklist', blacklist.id, 'view' ]">{{blacklist.id}}</a></td>
                <td>{{blacklist.url}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/blacklist', blacklist.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blacklist', blacklist.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blacklist/'+ blacklist.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="blacklists && blacklists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
